#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  font-weight: 700;
  padding-bottom: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid rgb(229, 231, 235);
  width: 100%;
}

#article h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#article h2 {
  font-size: 1.7rem;
  line-height: 2rem;
}

#article h3 {
  font-size: 1.5rem;
  line-height: 1.85rem;
}

#article h4 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

#article h5 {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

#article h6 {
  font-size: 0.9rem;
  line-height: 1rem;
}

#article p {
  margin: 0.5rem 0;
}

#article a {
  color: rgb(79, 70, 229);
  font-weight: 500;
}

#article .iwrap {
  margin: 1rem 0 0.3rem 0;
}

#article .iwrap.entry {
  position: relative;
  padding-bottom: 67%;
}

#article .iwrap iframe {
  width: 100%;
  border-radius: 0.7rem;
}

#article .iwrap.entry iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#article code {
  background-color: #eaeaea;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
}

#toc ul {
  padding: 0 0.5rem;
}

#toc ul li {
  padding: 0.3rem 0;
}

#toc ul li a {
  color: rgb(156, 163, 175);
  transition: color 0.3s;
  line-height: 1.1;
  display: block;
}

#toc ul li a:hover {
  color: rgb(17, 24, 39);
}

@media (max-width: 500px) {
  #article .iwrap.entry {
    position: relative;
    padding-bottom: 70%;
  }
}

@media (max-width: 400px) {
  #article .iwrap.entry {
    position: relative;
    padding-bottom: 75%;
  }
}
